{
  "branches": [
    "develop"
  ],
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "composer.json", "package.json", "store.json"
        ],
        "message": "chore(release): Package.json and Store.json ${nextRelease.version} [skip ci] \n\n${nextRelease.notes}"
      },
    ],
  ]
}
